{{ template "header" . }}
<div class="container contents">
    <h1>Check details</h1>
    <table class="table table-striped table-hover table-dark" id="targetcheckdetails">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Error</th>
                <th scope="col">LastCheck</th>
                <th scope="col">Message</th>
                <th scope="col">Success</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{{ template "footer" . }}