{{ template "header" . }}
<div class="container contents">
    <h1>Checks</h1>
    <table class="table table-striped table-hover table-dark" id="targetchecks">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Target</th>
                <th scope="col">Check</th>
                <th scope="col">Status</th>
                <th scope="col">Schedule</th>
                <th scope="col">Last check</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{{ template "footer" . }}